{% extends 'base.html' %} 


{% block content %}
  <body  style="background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');background-size: cover;background-repeat: no-repeat; " >
  <div class="container-fluid text-center" id="welcome" style="color: white;" >
    <h1><strong> {{News}} </strong></h1>
    <h2><strong>PIZZA WORLD </strong> OFFERS THE BEST</h2>
    <h3> {{comment}} </h3>
    <h3><strong>Passionate</strong>  about <strong>Pizza</strong> , its <strong> Love </strong>at first <strong>Slice</strong> </h3>
  </div>


    </body>
  {% endblock %}


  