{% extends 'base.html' %}
{% block content %}
    <div id="welcome">
        <p>PIZZA WORLD</p>
    
        <p>Welcome!!</p>
    </div>
       
   <i> <h1>Variety And Choices For You</h1></i>

    <div id="About">

        <p><a href="./order.html"><i><strong>Pizza_App
            
        </strong></i></a> where <i>quality</i> is the <strong><i>business president</i></strong></p>
        <p>The high quality ingredients used are carefully selected and certified. The cooking process, entirely done by hand and 
            including 72 hours of leavening, results in a combination of tastiness, lightness and digestibility.
            Discover our selection of traditional and signature pizzas in our hotels in Italy, London, Paris and New York, 
            each of which is entwined with the territory.
            
            
        </p>
    </div>
    <h5>We offer different Sizes, Crusts and Toppings as below:</h5>
    <!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-outline-secondary">Order Delivery</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Order Delivery</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Delivered</a>
            <a class="dropdown-item" href="#">Self Collection</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Eat Inn</a>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
      </div> -->

    <div class="container"> 

        <div class="img">
            <img src="./css/crispy.jpeg"  height="100px"  width="150px" alt="">
            <h3>Small</h3>
            <h3>crispy</h3>
            <h3>vanilla</h3>
            <h3>Ksh. 900</h3>
            <a class="order-now order1" href="#">order-now</a>
        </div>
        <div class="img">
            <img src="./css/stuffed.jpeg"  height="100px"  width="150px" alt="">
            <h3>Small</h3>
            <h3>stuffed</h3>
            <h3>chocolate</h3>
            <h3>Ksh. 800</h3>
            <a class="order-now order2" href="#">order-now</a>
        </div>
        <div class="img">
            <img src="./css/glutenfree.jpeg"  height="100px"  width="150px" alt="">
            <h3>Small</h3>
            <h3>glutenfree</h3>
            <h3>sauced</h3>
            <h3>Ksh. 750</h3>
            <a class="order-now order3" href="#">order-now</a>
        </div> 
        <div class="img">
            <img src="./css/crispy-medium.jpeg"  height="150px"  width="200px" alt="">
            <h3>Medium</h3>
            <h3>stuffed</h3>
            <h3>vanilla</h3>
            <h3>Ksh. 1300</h3>
            <a class="order-now order4" href="#">order-now</a>
        </div>
        
        <div class="img">
            <img src="./css/stuffed-medium.jpeg"  height="150px"  width="200px" alt="">
            <h3>Medium</h3>
            <h3>Crispy</h3>
            <h3>chocolate</h3>
            <h3>Ksh. 1200</h3>
            <a class="order-now order5" href="#">order-now</a>
        </div>  
        <div class="img">
            <img src="./css/glutenfree-medium.jpeg"  height="150px"  width="200px" alt="">
             <h3>Medium</h3>
             <h3>GlutenFree</h3>
            <h3>sauced</h3>
            <h3>Ksh. 1150</h3>
            <a class="order-now order6" href="#">order-now</a>
        </div>   
        <div class="img">
            <img src="/css/crispy-large.jpeg"  height="200px"  width="300px" alt="">
            <h3>Large</h3>
            <h3>Crispy</h3>
            <h3>vanilla</h3>
            <h3>Ksh. 2000</h3>
            <a class="order-now order7" href="#">order-now</a>
        </div> 
        <div class="img">
            <img src="/css/stuffed-large.jpeg"  height="200px"  width="300px" alt="">
            <h3>Large</h3>
            <h3>GlutenFree</h3>
            <h3>chocolate</h3>
            <h3>Ksh. 1800</h3>
            <a class="order-now order8" href="#">order-now</a>
        </div> 

        <div class="img">
            <img src="/css/glutenfree-large.jpeg"  height="200px"  width="300px"  alt="">
            <h3>Large</h3>
            <h3>stuffed</h3>
            <h3>sauced</h3>
            <h3>Ksh. 2500</h3>
            <a class="order-now order9" href="#">order-now</a>
        </div> 

    </div>
    <div class="order-box">
      <div class="cart">
          <i class="fa fa-close"></i>
          <h1>order</h1>
          <table></table>
      </div>
    <p></p>
    </div>

    <div class="products-container">
        <div class="product-header">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="price">PRICE</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>
     </div>
        <div class="products">
            
        </div>
{% endblock %}