{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="body" style="background-image: url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1271&q=80); background-repeat: no-repeat; background-size: cover;">
<div class="container">
    <div class="row">
        <div class="col-md-6">

            {{ wtf.quick_form(order_form) }}
        </div>
        <div class="col-md-6">
            {% for pizza in pizza %}
            <h1> {{pizza.flavor}} </h1>
            {% endfor %}


        </div>

    </div>
</div>

   
  

</div>

{% endblock %}